/*..................................the home page */
// JUMBOTRON
.jumbotron {
  height: 800px;
  margin-bottom: 0;
  background: url(../img/another.jpg) center center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;

  // Remove for prod
  background-color: rgba(33, 29, 30, 0.5);
  background-blend-mode: multiply;

  .logo {
    margin-bottom: 18px;
  }

  h2 {
    margin: 0 0 @padding-base-horizontal*4;
    color: @brand-cream;
    .libre();
    font-size: 23px;
    text-shadow: 1px 1px 1px @brand-black;
    text-transform: none;
  }
}

.down-arrow {
  color: @brand-cream;
  font-size: 136px;
  line-height: 1;
  margin-top: -25px;
}


// WHAT WE DO SECTION

// modal
.md-show {
  &#modal-branding ~ .md-overlay {
    background-image: url(../img/branding.svg);
  }

  &#modal-print ~ .md-overlay {
    background-image: url(../img/print.svg);
  }

  &#modal-web ~ .md-overlay {
    background-image: url(../img/web.svg);
  }

  &#modal-messaging ~ .md-overlay {
    background-image: url(../img/messaging.svg);
  }
}

// service boxes
.service {
  margin-bottom: 30px;
}

.service-inner {
  height: 220px;
  padding: 15px;
  color: @brand-cream;
  background-position: top -75px right -75px;
  background-color: @brand-black;
  background-repeat: no-repeat;
  -webkit-background-size: 180px 180px;
  background-size: 180px 180px;
  cursor: pointer;
  .transition(all ease 0.2s);

  h3 {
    bottom: 75px;
    margin: 0;
    color: @brand-cream;
    font-size: 32px;
  }

  &.service-branding {
    background-image: url(../img/branding.svg);
  }

  &.service-print {
    background-image: url(../img/print.svg);
  }

  &.service-web {
    background-image: url(../img/web.svg);
  }

  &.service-messaging {
    background-image: url(../img/messaging.svg);
  }

  &:hover {
    color: @brand-cream;
    // background-position: 143px -60px;
    background-position: top -60px right -60px;
    background-color: @brand-red;
    .transition(all ease 0.2s);

    h3 {
      color: @brand-cream;
      .transition(all ease 0.2s);
    }
  }
}

.service-content {
  padding-top: 30px;
  padding-right: 15px;
  position: absolute;
  bottom: 15px;

  p {
    margin-bottom: 0;
    padding-right: 15px;
    .libre();
  }
}


// SOME OF OUR CLIENTS SECTION

.client-logo {
  margin-bottom: @padding-base-horizontal*4;
  padding: @padding-base-horizontal;
}


// CLIENT TESTIMONIES

#testimonies {
  margin-bottom: -72px;
  padding: 30px 0 30px;
  background-color: @brand-red;
}

.client-testimonial {
  p {
    margin-top: 30px;
    .libre();
    font-size: 20px;

    cite {
      float: right;
      margin-top: @padding-base-horizontal;
      font-size: 14px;
      font-style: italic;
    }
  }
}

.carousel-indicators {
  bottom: 10px;

  li {
    border-color: @brand-blue;
  }

  .active {
    background-color: @brand-blue;
  }
}

.img-thumbnail {
  padding: 2px;
  background-color: @brand-red;
}


// RECENT WORK SECTION

#recent-work {
  margin-bottom: @padding-base-horizontal*6;
}


/*..................................the work piece page */
.work-capacity {
  .fg-medium();
  font-size: 24px;
  text-transform: uppercase;
}

.work-awards {


  img {
    margin-right: @padding-base-horizontal*2;

    &:last-child {
      margin-right: 0;
    }
  }
}

.work-piece-thumb,
.piece-screenshot {
  margin-bottom: 30px;
}

span.lowercase {
  display: inline !important;
  text-transform: lowercase;
}


/*..................................the services page */
.Services {
  .page-header {
    min-height: 221px;
  }
}

.services-options {
  margin-top: @padding-base-horizontal*2;

  a.btn {
    background-position: bottom -50px right -50px;
    background-repeat: no-repeat;
    -webkit-background-size: 100px;
    background-size: 100px;

    &:hover {
      background-color: @brand-red;
      background-position: bottom -25px right -40px;
    }

    &.branding-bg {
      background-image: url(../img/branding.svg);
    }

    &.print-bg {
      background-image: url(../img/print.svg);
    }

    &.web-bg {
      background-image: url(../img/web.svg);
    }

    &.messaging-bg {
      background-image: url(../img/messaging.svg);
    }
  }
}

@even-steven: -10px;
@offset: 277.5px;
@bgi-size: 555px;

.service-description {
  padding: @padding-base-horizontal*8 0;
  background-position: -@offset -@offset;
  background-repeat: no-repeat;
  -webkit-background-size: @bgi-size;
  background-size: @bgi-size;

  h1 {
    margin-top: 0;
    .libre();
    text-transform: none;
  }
}

// If copy is short, then first value will be negative
// If image is short, then first value will be positive

.big-branding {
  background-image: url(../img/branding-white.svg);

  .short {
    margin-top: @even-steven + (183px / 2);
  }
}

.big-print {
  background-image: url(../img/print.svg);
  background-position: top -@offset right -@offset;

  .short {
    margin-top: @even-steven + (243px / 2);
  }
}

.big-web {
  background-image: url(../img/web-white.svg);

  .short {
    margin-top: @even-steven + (90px / 2);
  }
}

.big-messaging {
  background-image: url(../img/messaging.svg);
  background-position: top -@offset right -@offset;

  .short {
    margin-top: @even-steven + (158px / 2);
  }
}



#misc-info {
  padding: @padding-base-horizontal*4 0;

  h3 {
    margin: 0 0 @padding-base-horizontal*3;
  }

  h4 {
    .libre();
  }

  .btn {
    margin-top: 20px;
  }
}

.services-anchor {
  position: relative;
  top: -93px + (134 / 2);
  visibility: hidden;
}

/*..................................the work page */
#work {
  margin-top: 30px;
}

/*..................................the about page */

// THE TEAM

.person {
  margin-bottom: 30px;
  color: @brand-cream;
  background-color: @brand-black;

  h2 {
    margin-bottom: 0;
    color: @brand-cream;
    font-size: 32px;
  }

  img {
    .opacity(0.6);
    width: 100%;
  }
}

.person-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 55px;
}

.position {
  .libre();
}

.personal-contact {
  a {
    padding-right: 10px;
    color: @brand-cream;
    font-size: 22px;

    &:last-child {
      padding-right: 0;
    }

    &:hover {
      color: @brand-red;
    }
  }
}


// THE STUDIO

#studio {
  img {
    margin-bottom: 30px;
  }
}


// FAQ

#faq {
  margin-bottom: @padding-base-horizontal*4;

  .headline {
    margin-top: 0;
  }

  h4 {
    .libre();
  }
}

/*..................................the responsive stuff */
@media (max-width: @screen-xs-max) {
  #work {
    margin-top: 15px;
  }
}