//
// Hero unit
// --------------------------------------------------


.hero-unit {
  height: 420px;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: @baseLineHeight * 1.5;
  color: @heroUnitLeadColor;
  background: url(../img/printing-press.jpg) no-repeat center center;
  text-align: center;

  h1 {
    margin-top: 5px;
    font-family: @serifFontFamily;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 2px;
    color: @cream;
    text-transform: none;
  }

  h2 {
    color: @orange;
    font-family: @serifFontFamily;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
  }

  li {
    line-height: @baseLineHeight * 1.5; // Reset since we specify in type.less
  }

  img {
    padding-top: 109px;
  }
}
